.w-60px{
    
    width: 60px !important;
}

.cursor-pointer{
    cursor: pointer;
}
.breadcrumbs-custom-path .mdi.mdi-arrow-right::before
{
  color: rgba(255, 255, 255, 0.5) !important;
}
.va-top{
    vertical-align: top !important;
}
.va-bottom{
    vertical-align: bottom !important;
}

.form-control.upload{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.dropdown-menu {
    min-width: 16rem !important;
    
}
.dropdown-item{
    white-space: break-spaces !important;
}

.fz-20{
    font-size: 20px;
}

.mt-40px{
    margin-top: 40px;
}
@media (max-width: 576px) { 
    .mt-40px{
        margin-top: 10px;
    }

}

/********************* tooltip **************************/ 
.tooltips {
  position: relative;
}
.tooltips__item {
  position: absolute;
  min-width: 100px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  background: white;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  color: #484848;
  border: 1px solid #cecece;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0 2px 1px #bcbcbc;
  z-index: 4;
}
.tooltips__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.tooltips__initiator {
  cursor: pointer;
  z-index: 5;
}



.tooltips[data-direction=left] .tooltips__initiator:hover ~ .tooltips__item {
  transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}
.tooltips[data-direction=left] .tooltips__item {
  top: 50%;
  right: calc(100% + 1em);
  transform: translate3d(15px, -50%, 0);
}
.tooltips[data-direction=left] .tooltips__item:after {
  top: 50%;
  right: -0.5em;
  transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0 0.5em 0.5em;
  border-color: transparent transparent transparent white;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px 2px 1px #bcbcbc);
}



.tooltips[data-direction=bottom] .tooltips__initiator:hover ~ .tooltips__item {
  /*transform: translate3d(-50%, 0, 0);*/
  visibility: visible;
  opacity: 1;
}
.tooltips[data-direction=bottom] .tooltips__item {
  /*top: calc(100% + 1em);
  left: 50%;
  transform: translate3d(-50%, -15px, 0);*/
}
.tooltips[data-direction=bottom] .tooltips__item:after {
  top: -0.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent white transparent;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px -1px 1px #bcbcbc);
}

.fa.fa-info-circle {
  font-size: 38px;
  color: #21606b;
}