﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
/* Position */
.lh .position-static {
  position: static;
}
.lh .position-static-i {
  position: static !important;
}
@media screen and (min-width: 576px) {
  .lh .position-static-sm {
    position: static;
  }
  .lh .position-static-sm-i {
    position: static !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .position-static-md {
    position: static;
  }
  .lh .position-static-md-i {
    position: static !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .position-static-lg {
    position: static;
  }
  .lh .position-static-lg-i {
    position: static !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .position-static-xl {
    position: static;
  }
  .lh .position-static-xl-i {
    position: static !important;
  }
}
.lh .position-relative {
  position: relative;
}
.lh .position-relative-i {
  position: relative !important;
}
@media screen and (min-width: 576px) {
  .lh .position-relative-sm {
    position: relative;
  }
  .lh .position-relative-sm-i {
    position: relative !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .position-relative-md {
    position: relative;
  }
  .lh .position-relative-md-i {
    position: relative !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .position-relative-lg {
    position: relative;
  }
  .lh .position-relative-lg-i {
    position: relative !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .position-relative-xl {
    position: relative;
  }
  .lh .position-relative-xl-i {
    position: relative !important;
  }
}
.lh .position-absolute {
  position: absolute;
}
.lh .position-absolute-i {
  position: absolute !important;
}
@media screen and (min-width: 576px) {
  .lh .position-absolute-sm {
    position: absolute;
  }
  .lh .position-absolute-sm-i {
    position: absolute !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .position-absolute-md {
    position: absolute;
  }
  .lh .position-absolute-md-i {
    position: absolute !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .position-absolute-lg {
    position: absolute;
  }
  .lh .position-absolute-lg-i {
    position: absolute !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .position-absolute-xl {
    position: absolute;
  }
  .lh .position-absolute-xl-i {
    position: absolute !important;
  }
}
.lh .position-fixed {
  position: fixed;
}
.lh .position-fixed-i {
  position: fixed !important;
}
@media screen and (min-width: 576px) {
  .lh .position-fixed-sm {
    position: fixed;
  }
  .lh .position-fixed-sm-i {
    position: fixed !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .position-fixed-md {
    position: fixed;
  }
  .lh .position-fixed-md-i {
    position: fixed !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .position-fixed-lg {
    position: fixed;
  }
  .lh .position-fixed-lg-i {
    position: fixed !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .position-fixed-xl {
    position: fixed;
  }
  .lh .position-fixed-xl-i {
    position: fixed !important;
  }
}
.lh .position-sticky {
  position: sticky;
}
.lh .position-sticky-i {
  position: sticky !important;
}
@media screen and (min-width: 576px) {
  .lh .position-sticky-sm {
    position: sticky;
  }
  .lh .position-sticky-sm-i {
    position: sticky !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .position-sticky-md {
    position: sticky;
  }
  .lh .position-sticky-md-i {
    position: sticky !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .position-sticky-lg {
    position: sticky;
  }
  .lh .position-sticky-lg-i {
    position: sticky !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .position-sticky-xl {
    position: sticky;
  }
  .lh .position-sticky-xl-i {
    position: sticky !important;
  }
}
.lh .top-0px {
  top: 0px;
}
.lh .top-0px-i {
  top: 0px !important;
}
@media screen and (min-width: 576px) {
  .lh .top-0px-sm {
    top: 0px;
  }
  .lh .top-0px-sm-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .top-0px-md {
    top: 0px;
  }
  .lh .top-0px-md-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .top-0px-lg {
    top: 0px;
  }
  .lh .top-0px-lg-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .top-0px-xl {
    top: 0px;
  }
  .lh .top-0px-xl-i {
    top: 0px !important;
  }
}
.lh .right-0px {
  top: 0px;
}
.lh .right-0px-i {
  top: 0px !important;
}
@media screen and (min-width: 576px) {
  .lh .right-0px-sm {
    top: 0px;
  }
  .lh .right-0px-sm-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .right-0px-md {
    top: 0px;
  }
  .lh .right-0px-md-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .right-0px-lg {
    top: 0px;
  }
  .lh .right-0px-lg-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .right-0px-xl {
    top: 0px;
  }
  .lh .right-0px-xl-i {
    top: 0px !important;
  }
}
.lh .bottom-0px {
  top: 0px;
}
.lh .bottom-0px-i {
  top: 0px !important;
}
@media screen and (min-width: 576px) {
  .lh .bottom-0px-sm {
    top: 0px;
  }
  .lh .bottom-0px-sm-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .bottom-0px-md {
    top: 0px;
  }
  .lh .bottom-0px-md-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .bottom-0px-lg {
    top: 0px;
  }
  .lh .bottom-0px-lg-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .bottom-0px-xl {
    top: 0px;
  }
  .lh .bottom-0px-xl-i {
    top: 0px !important;
  }
}
.lh .left-0px {
  top: 0px;
}
.lh .left-0px-i {
  top: 0px !important;
}
@media screen and (min-width: 576px) {
  .lh .left-0px-sm {
    top: 0px;
  }
  .lh .left-0px-sm-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .left-0px-md {
    top: 0px;
  }
  .lh .left-0px-md-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .left-0px-lg {
    top: 0px;
  }
  .lh .left-0px-lg-i {
    top: 0px !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .left-0px-xl {
    top: 0px;
  }
  .lh .left-0px-xl-i {
    top: 0px !important;
  }
}
.lh .color-text-blue1 {
  color: #39a3ce;
}
.lh .color-text-blue1-i {
  color: #39a3ce !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-blue1-sm {
    color: #39a3ce;
  }
  .lh .color-text-blue1-sm-i {
    color: #39a3ce !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-blue1-md {
    color: #39a3ce;
  }
  .lh .color-text-blue1-md-i {
    color: #39a3ce !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-blue1-lg {
    color: #39a3ce;
  }
  .lh .color-text-blue1-lg-i {
    color: #39a3ce !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-blue1-xl {
    color: #39a3ce;
  }
  .lh .color-text-blue1-xl-i {
    color: #39a3ce !important;
  }
}
.lh .color-text-blue2 {
  color: #4abec6;
}
.lh .color-text-blue2-i {
  color: #4abec6 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-blue2-sm {
    color: #4abec6;
  }
  .lh .color-text-blue2-sm-i {
    color: #4abec6 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-blue2-md {
    color: #4abec6;
  }
  .lh .color-text-blue2-md-i {
    color: #4abec6 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-blue2-lg {
    color: #4abec6;
  }
  .lh .color-text-blue2-lg-i {
    color: #4abec6 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-blue2-xl {
    color: #4abec6;
  }
  .lh .color-text-blue2-xl-i {
    color: #4abec6 !important;
  }
}
.lh .color-text-blue3 {
  color: #0080be;
}
.lh .color-text-blue3-i {
  color: #0080be !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-blue3-sm {
    color: #0080be;
  }
  .lh .color-text-blue3-sm-i {
    color: #0080be !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-blue3-md {
    color: #0080be;
  }
  .lh .color-text-blue3-md-i {
    color: #0080be !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-blue3-lg {
    color: #0080be;
  }
  .lh .color-text-blue3-lg-i {
    color: #0080be !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-blue3-xl {
    color: #0080be;
  }
  .lh .color-text-blue3-xl-i {
    color: #0080be !important;
  }
}
.lh .color-text-blue4 {
  color: #39a1cc;
}
.lh .color-text-blue4-i {
  color: #39a1cc !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-blue4-sm {
    color: #39a1cc;
  }
  .lh .color-text-blue4-sm-i {
    color: #39a1cc !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-blue4-md {
    color: #39a1cc;
  }
  .lh .color-text-blue4-md-i {
    color: #39a1cc !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-blue4-lg {
    color: #39a1cc;
  }
  .lh .color-text-blue4-lg-i {
    color: #39a1cc !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-blue4-xl {
    color: #39a1cc;
  }
  .lh .color-text-blue4-xl-i {
    color: #39a1cc !important;
  }
}
.lh .color-text-black1 {
  color: #333333;
}
.lh .color-text-black1-i {
  color: #333333 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-black1-sm {
    color: #333333;
  }
  .lh .color-text-black1-sm-i {
    color: #333333 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-black1-md {
    color: #333333;
  }
  .lh .color-text-black1-md-i {
    color: #333333 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-black1-lg {
    color: #333333;
  }
  .lh .color-text-black1-lg-i {
    color: #333333 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-black1-xl {
    color: #333333;
  }
  .lh .color-text-black1-xl-i {
    color: #333333 !important;
  }
}
.lh .color-text-black2 {
  color: #444444;
}
.lh .color-text-black2-i {
  color: #444444 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-black2-sm {
    color: #444444;
  }
  .lh .color-text-black2-sm-i {
    color: #444444 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-black2-md {
    color: #444444;
  }
  .lh .color-text-black2-md-i {
    color: #444444 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-black2-lg {
    color: #444444;
  }
  .lh .color-text-black2-lg-i {
    color: #444444 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-black2-xl {
    color: #444444;
  }
  .lh .color-text-black2-xl-i {
    color: #444444 !important;
  }
}
.lh .color-text-black3 {
  color: #666666;
}
.lh .color-text-black3-i {
  color: #666666 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-black3-sm {
    color: #666666;
  }
  .lh .color-text-black3-sm-i {
    color: #666666 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-black3-md {
    color: #666666;
  }
  .lh .color-text-black3-md-i {
    color: #666666 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-black3-lg {
    color: #666666;
  }
  .lh .color-text-black3-lg-i {
    color: #666666 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-black3-xl {
    color: #666666;
  }
  .lh .color-text-black3-xl-i {
    color: #666666 !important;
  }
}
.lh .color-text-white1 {
  color: #ffffff;
}
.lh .color-text-white1-i {
  color: #ffffff !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-white1-sm {
    color: #ffffff;
  }
  .lh .color-text-white1-sm-i {
    color: #ffffff !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-white1-md {
    color: #ffffff;
  }
  .lh .color-text-white1-md-i {
    color: #ffffff !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-white1-lg {
    color: #ffffff;
  }
  .lh .color-text-white1-lg-i {
    color: #ffffff !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-white1-xl {
    color: #ffffff;
  }
  .lh .color-text-white1-xl-i {
    color: #ffffff !important;
  }
}
.lh .color-text-white2 {
  color: #E9F2F4;
}
.lh .color-text-white2-i {
  color: #E9F2F4 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-white2-sm {
    color: #E9F2F4;
  }
  .lh .color-text-white2-sm-i {
    color: #E9F2F4 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-white2-md {
    color: #E9F2F4;
  }
  .lh .color-text-white2-md-i {
    color: #E9F2F4 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-white2-lg {
    color: #E9F2F4;
  }
  .lh .color-text-white2-lg-i {
    color: #E9F2F4 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-white2-xl {
    color: #E9F2F4;
  }
  .lh .color-text-white2-xl-i {
    color: #E9F2F4 !important;
  }
}
.lh .color-text-green1 {
  color: #9abc0d;
}
.lh .color-text-green1-i {
  color: #9abc0d !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-green1-sm {
    color: #9abc0d;
  }
  .lh .color-text-green1-sm-i {
    color: #9abc0d !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-green1-md {
    color: #9abc0d;
  }
  .lh .color-text-green1-md-i {
    color: #9abc0d !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-green1-lg {
    color: #9abc0d;
  }
  .lh .color-text-green1-lg-i {
    color: #9abc0d !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-green1-xl {
    color: #9abc0d;
  }
  .lh .color-text-green1-xl-i {
    color: #9abc0d !important;
  }
}
.lh .color-text-purple1 {
  color: #8f3f97;
}
.lh .color-text-purple1-i {
  color: #8f3f97 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-purple1-sm {
    color: #8f3f97;
  }
  .lh .color-text-purple1-sm-i {
    color: #8f3f97 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-purple1-md {
    color: #8f3f97;
  }
  .lh .color-text-purple1-md-i {
    color: #8f3f97 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-purple1-lg {
    color: #8f3f97;
  }
  .lh .color-text-purple1-lg-i {
    color: #8f3f97 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-purple1-xl {
    color: #8f3f97;
  }
  .lh .color-text-purple1-xl-i {
    color: #8f3f97 !important;
  }
}
.lh .color-text-purple2 {
  color: #8b3f92;
}
.lh .color-text-purple2-i {
  color: #8b3f92 !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-purple2-sm {
    color: #8b3f92;
  }
  .lh .color-text-purple2-sm-i {
    color: #8b3f92 !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-purple2-md {
    color: #8b3f92;
  }
  .lh .color-text-purple2-md-i {
    color: #8b3f92 !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-purple2-lg {
    color: #8b3f92;
  }
  .lh .color-text-purple2-lg-i {
    color: #8b3f92 !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-purple2-xl {
    color: #8b3f92;
  }
  .lh .color-text-purple2-xl-i {
    color: #8b3f92 !important;
  }
}
.lh .color-text-orange1 {
  color: #e2614b;
}
.lh .color-text-orange1-i {
  color: #e2614b !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-orange1-sm {
    color: #e2614b;
  }
  .lh .color-text-orange1-sm-i {
    color: #e2614b !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-orange1-md {
    color: #e2614b;
  }
  .lh .color-text-orange1-md-i {
    color: #e2614b !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-orange1-lg {
    color: #e2614b;
  }
  .lh .color-text-orange1-lg-i {
    color: #e2614b !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-orange1-xl {
    color: #e2614b;
  }
  .lh .color-text-orange1-xl-i {
    color: #e2614b !important;
  }
}
.lh .color-text-orange2 {
  color: #f08d1d;
}
.lh .color-text-orange2-i {
  color: #f08d1d !important;
}
@media screen and (min-width: 576px) {
  .lh .color-text-orange2-sm {
    color: #f08d1d;
  }
  .lh .color-text-orange2-sm-i {
    color: #f08d1d !important;
  }
}
@media screen and (min-width: 768px) {
  .lh .color-text-orange2-md {
    color: #f08d1d;
  }
  .lh .color-text-orange2-md-i {
    color: #f08d1d !important;
  }
}
@media screen and (min-width: 992px) {
  .lh .color-text-orange2-lg {
    color: #f08d1d;
  }
  .lh .color-text-orange2-lg-i {
    color: #f08d1d !important;
  }
}
@media screen and (min-width: 1200px) {
  .lh .color-text-orange2-xl {
    color: #f08d1d;
  }
  .lh .color-text-orange2-xl-i {
    color: #f08d1d !important;
  }
}