﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
.title {
  padding-bottom: 30px;
}
.card-title {
  font-family: LHBankHeaderBold;
  font-size: 22px;
  color: #39a3ce;
}
.card-sub-title {
  font-family: LHBankHeaderBold;
  font-size: 18px;
  color: #444444;
}
.card-detail {
  font-family: LHBankHeader;
  font-size: 14px;
  color: #666666;
}
.link {
  font-family: LHBankHeaderBold;
  font-size: 14px;
  /*position: absolute;
            bottom: 25px;*/
  position: absolute;
  bottom: 10px;
  left: 0;
  padding-left: 1.25rem;
}
.link a {
  color: #39a3ce;
  text-decoration: none;
}
.sec-title {
  font-family: LHBankHeaderBold;
  font-size: 22px;
  color: #333333;
}
.aLinkAll {
  font-family: LHBankHeaderBold;
  font-size: 14px;
}
.aLinkAll a {
  color: #39a3ce;
  text-decoration: none;
}
.section-1 {
  background: #f9f9f9;
  padding-top: 11px;
}
.section-1 .history {
  margin-top: 20px;
  text-align: right;
  font-family: LHBankHeaderBold !important;
  font-size: 16px !important;
  color: #39a3ce !important;
}
.section-1 .site-search {
  width: 305px;
  height: 46px;
  border: none;
  border-bottom: 1px solid #989898;
  font-family: LHBankHeaderThin;
  font-size: 38px;
  background: #f9f9f9;
}
.section-1 .special-link {
  padding: 25px;
}
.section-1 .special-link,
.section-1 a {
  font-family: LHBankHeader;
  font-size: 16px;
  color: #39a3ce !important;
  text-align: center;
  text-decoration: underline;
}
.section-1 #siteSearch {
  margin-top: 39px;
  display: flex;
  align-items: center;
}
.section-1 #txtSiteSearch {
  margin-right: 14px;
}
.section-1 #txtSiteSearch:focus {
  outline: none;
}
.section-1 #txtSiteSearch:focus {
  outline: none;
}
.section-1 #txtSiteSearch + a img {
  position: relative;
}
.section-1 #siteSearch img {
  height: 28px;
  width: 29px;
}
.section-2 {
  background: #f1f3f5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-2 .aLinkAll {
  padding-top: 10px;
  text-align: right;
}
.section-2 .aLinkAll button {
  display: none;
}
.section-2 .advisory {
  margin-bottom: 24px;
}
.section-2 .container {
  position: relative;
}
.section-2 .container .view-all {
  padding-top: 12px;
  width: 100%;
  text-align: right;
  display: block;
  font-size: 16px;
  font-family: LHBankHeaderBold;
  color: #39a3ce;
  text-decoration: none;
}
.section-3 {
  background: #f9f9f9;
  padding-top: 20px;
}
.section-3 .promotions {
  padding-bottom: 24px;
}
.section-3 .container {
  position: relative;
}
.section-3 .container .view-all {
  position: absolute;
  bottom: 16px;
  right: 0;
  padding-top: 12px;
  text-align: right;
  display: block;
  font-size: 16px;
  font-family: LHBankHeaderBold;
  color: #39a3ce;
  text-decoration: none;
}
.section-4 {
  background: #f1f3f5;
  padding-bottom: 36px;
}
.section-4 .card {
  margin-top: 20px;
}
.section-4 .card1 {
  height: 238px;
  overflow: hidden;
}
.section-4 .card1 .card-body {
  padding: 18px;
}
.section-4 .card1 .card-sub-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section-4 .card1 .card-detail {
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section-4 .card1 .card-item-info {
  height: 100%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.section-4 .card1 .card-img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.div-prd-typ .row-btn-typ {
  margin-top: 211px;
  max-width: 1140px;
  height: 187px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #ffffff, #f1f1f1, #d7d7d7, #b2b2b2);
}
.btn-typ {
  margin-left: 67px;
  margin-top: 3%;
  width: 207px;
}
.img {
  vertical-align: middle;
  border-style: none;
}
.banner {
  background-color: #f9f9f9;
  /*button {
        position: absolute;
        bottom: 200px;
        left: 200px;
        font-family: LHBankHeaderBold;
        font-size: 14px;
    }*/
}
.banner .btn-banner-detail {
  position: absolute;
  bottom: 40%;
  left: 20%;
  font-family: LHBankHeaderBold;
  font-size: 14px;
}
.banner .carousel .carousel-item img {
  max-height: 416px;
}
.banner .carousel-indicators li {
  width: 13px;
  height: 24px;
}
.banner .carousel-indicators li.active {
  height: 45px !important;
  /*background-color: rgba(251,222,87,0.5) !important;*/
}
.banner .carousel-control-prev {
  opacity: unset !important;
}
.banner .carousel-control-next {
  opacity: unset !important;
}
.banner .carousel-control-prev-icon {
  background-image: url('../../media/icon/icon-prev@3x.png');
  width: 48px;
  height: 48px;
  opacity: unset !important;
}
.banner .carousel-control-prev-icon:hover {
  background-image: url('../../media/icon/icon-prev-hover@3x.png');
}
.banner .carousel-control-next-icon {
  background-image: url('../../media/icon/icon-next@3x.png');
  width: 48px;
  height: 48px;
  opacity: unset !important;
}
.banner .carousel-control-next-icon:hover {
  background-image: url('../../media/icon/icon-next-hover@3x.png');
}
.life-stage {
  font-family: LHBankHeader;
  font-size: 16px;
  border-radius: 15px;
  background: linear-gradient(180deg, #ffffff 70%, #f1f1f1, #d7d7d7, #b2b2b2 123%);
  cursor: pointer;
  margin-bottom: 30px;
}
.life-stage ol,
.life-stage ul {
  list-style: none;
}
.life-stage a {
  text-decoration: none;
  color: #444444 !important;
}
.life-stage ul {
  text-align: center;
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.life-stage li {
  padding: 25px 0;
  display: table-cell;
  vertical-align: top;
  width: 15%;
}
.life-stage li .visual-img {
  position: relative;
  display: inline-block;
  height: 52px;
}
.life-stage li .text {
  display: block;
  margin-top: 10px;
  word-wrap: break-word;
}
.life-stage li .hr {
  width: 1px;
  height: 48px;
  background-color: #aaaaaa;
  position: absolute;
  top: 48%;
}
.life-stage .text {
  margin-top: 17px;
}
.life-stage .border-life-stage {
  border-right: solid #aaaaaa 1px;
  height: 48px;
  margin-top: 8%;
}
.life-stage .career:hover a {
  font-family: LHBankHeaderBold;
  color: #9abc0d !important;
}
.life-stage .family:hover a {
  font-family: LHBankHeaderBold;
  color: #4abec6 !important;
}
.life-stage .stability:hover a {
  font-family: LHBankHeaderBold;
  color: #8f3f97 !important;
}
.life-stage .plan:hover a {
  font-family: LHBankHeaderBold;
  color: #e2614b !important;
}
.life-stage .wealth:hover a {
  font-family: LHBankHeaderBold;
  color: #0080be !important;
}
.section-activity {
  background-color: #f1f3f5;
}
.section-activity .content {
  height: 317px;
  width: 712px;
}
@media (max-width: 767.98px) {
  .lh .lh-root .container {
    max-width: 100%;
    padding: 21.3px 14.3px;
  }
  .lh .lh-root .banner .swiper-button-next,
  .lh .lh-root .banner .swiper-button-prev {
    display: none;
  }
  .lh .lh-root .banner .swiper-pagination {
    bottom: 76%;
  }
  .lh .lh-root .banner .carousel-control-prev {
    display: none;
  }
  .lh .lh-root .banner .carousel-control-next {
    display: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  .section-1 .container {
    margin-top: -15px;
  }
  .section-1 #siteSearch,
  .section-1 .special-link {
    display: none;
  }
  .section-1 .history {
    right: 15.6px;
  }
  .section-1 .life-stage {
    background: linear-gradient(180deg, #ffffff 14%, #f0f0f0, #eeeeee, #e7e7e7, #dbdbdb, #cacaca, #b5b5b5, #b1b1b1);
    height: auto;
    border-radius: 15px;
    margin-top: -45px;
  }
  .section-1 .life-stage ul {
    display: block;
    list-style-type: none;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    margin: 0 auto;
  }
  .section-1 .life-stage li {
    display: list-item;
    padding: 5px 40px;
    margin: 0;
    width: auto;
    text-align: left;
    border-top: 1px solid #d7d7d7;
  }
  .section-1 .life-stage li:first-child {
    border-top: unset;
  }
  .section-1 .life-stage li .text {
    display: table-cell;
    text-align: left;
    font-family: LHBankHeader-Regular;
    font-size: 16px;
    line-height: 19.2px;
    color: #444444;
    padding: 5px 15px 15px 25px;
  }
  .section-1 .life-stage li .hr {
    display: none;
  }
  .section-1 .life-stage li .visual-img {
    height: 100%;
    display: table-cell;
    width: 75px;
  }
  .section-1 .life-stage li img {
    height: 100%;
  }
  .section-1 .life-stage li a {
    display: table;
    min-width: 100%;
    text-align: left;
  }
  .section-2 .advisory .card-body {
    margin-bottom: 30px;
  }
  .section-2 .advisory .card-item .card-item-info-1 {
    height: auto;
  }
  .section-2 .advisory .card-item .card-item-info-1 #divText-1 {
    order: 2;
  }
  .section-2 .advisory .card-item .card-item-info-1 #divVideo-1 {
    order: 1;
  }
  .section-2 .advisory .card-item .card-item-info-1 .card-img {
    height: 245.5px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: unset;
  }
  .section-2 .advisory .card-item .card-item-info-2 iframe {
    height: 290px;
    width: 100%;
    border-radius: 15px;
  }
  .section-2 .advisory .aLinkAll {
    text-align: center;
  }
  .section-2 .advisory .aLinkAll a {
    display: none;
  }
  .section-2 .advisory .aLinkAll button {
    text-align: center;
    display: initial;
  }
  .section-3 {
    display: none;
  }
  .section-4 {
    /*min-height: 804px;*/
    height: auto;
    padding-bottom: 20px;
  }
  .section-4 .container {
    padding-right: 27.6px;
    padding-top: 17px;
  }
  .section-4 .card1 {
    height: auto;
  }
  .section-4 .card1 .card-item-info {
    height: auto;
  }
  .section-4 .card1 .card-img {
    width: 100%;
    height: 244.5px;
    border-bottom-left-radius: unset;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .section-4 .card1 .card-detail {
    padding-bottom: 50.6px;
  }
  .section-4 .card1 .link {
    bottom: 40px;
  }
  .carousel-indicators {
    bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .carousel-control-prev {
    left: 5rem;
  }
  .carousel-control-next {
    right: 5rem;
  }
}