﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
@font-face {
  font-family: 'LHBankHeader';
  src: url('../font/LHBankHeader_0.ttf') format('truetype');
}
@font-face {
  font-family: 'LHBankHeaderBold';
  src: url('../font/LHBankHeaderBold_0.ttf') format('truetype');
}
@font-face {
  font-family: 'LHBankHeaderThin';
  src: url('../font/LH%20Header%20Thin_0.otf') format('opentype');
}
@font-face {
  font-family: 'LHBankHeader-Regular';
  src: url('../font/LH%20Header%20Regular_0.otf') format('opentype');
}
body {
  color: #333333;
  font-family: LHBankHeader;
  font-size: 14px;
}
.lh {
  /* BEGIN BTRW */
  /* END BTRW */
}
.lh .container {
  max-width: 992px;
}
.lh .nav-link {
  margin: 0.5rem 1rem;
  padding: 0;
}
.lh .dropdown-menu {
  min-width: 0px;
}
.lh .lh-header .top-bar {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
.lh .lh-header .top-bar div {
  background-color: #ced629;
  height: 3px;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.lh .lh-header .top-bar div:nth-child(1) {
  background-color: #ced629;
}
.lh .lh-header .top-bar div:nth-child(2) {
  background-color: #47b9c0;
}
.lh .lh-header .top-bar div:nth-child(3) {
  background-color: #8b3f92;
}
.lh .lh-header .top-bar div:nth-child(4) {
  background-color: #ed8068;
}
.lh .lh-header .top-bar div:nth-child(5) {
  background-color: #0080be;
}
.lh .lh-header .top-bar div:nth-child(6) {
  background-color: #f5bf0e;
}
.lh .lh-header .top-bar div:nth-child(7) {
  background-color: #ed8068;
}
.lh .lh-header .top-bar div:nth-child(8) {
  background-color: #f08d1d;
}
.lh .lh-header .aLogo {
  float: left;
  display: flex;
  align-items: center;
}
.lh .lh-header .logo-header {
  max-width: 132px;
  max-height: 40px;
  height: 40px;
}
.lh .lh-header .header-bar {
  font-family: LHBankHeader;
  height: 44px;
  background-color: #f7f7f7;
}
.lh .lh-header .header-bar a {
  color: #666666;
  font-size: 14px;
}
.lh .lh-header .header-bar-2 {
  font-family: LHBankHeader;
  font-size: 19px;
  height: 70px;
  background-color: #ffffff;
}
.lh .lh-header .header-bar-2 a {
  text-decoration: none;
  color: #666666 !important;
}
.lh .lh-header .header-bar-2 .top-menu-link {
  /*color: @color-text-blue1 !important;
                font-family: LHBankHeaderBold;
                font-size: 14px;*/
  position: relative;
  border: none !important;
  font-size: 16px;
  margin: 12px 15px;
}
.lh .lh-header .header-bar-2 .top-menu-link .arrow-down {
  opacity: 0;
  position: relative;
  top: -8px;
  transition: 0.15s ease top;
}
.lh .lh-header .header-bar-2 .top-menu-link .close {
  opacity: 0;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.lh .lh-header .header-bar-2 .top-menu-link:hover .arrow-down {
  opacity: 1;
  top: 0;
}
.lh .lh-header .header-bar-2 .top-menu-link:hover {
  color: #39a3ce !important;
  font-family: LHBankHeaderBold;
  font-size: 16px;
}
.lh .lh-header .header-bar-2 .top-menu-link:hover:after {
  width: 40%;
  border-image-source: linear-gradient(to left, #ced629, #26bcbc, #8b3f92, #ed8068, #f5bf0e);
}
.lh .lh-header .header-bar-2 .top-menu-link:after {
  content: '';
  position: absolute;
  width: 0%;
  left: 0%;
  bottom: -3px;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: none;
  transition: 0.25s ease width;
}
.lh .lh-header .header-bar-2 .top-menu-link.active {
  font-family: LHBankHeaderBold;
  font-size: 16px;
  color: #39a3ce !important;
}
.lh .lh-header .header-bar-2 .top-menu-link.active .arrow-down {
  opacity: 0;
}
.lh .lh-header .header-bar-2 .top-menu-link.active .close {
  opacity: 1;
}
.lh .lh-header .header-bar-2 .top-menu-link.active:after {
  width: 40%;
  border-image-source: linear-gradient(to left, #ced629, #26bcbc, #8b3f92, #ed8068, #f5bf0e);
}
.lh .lh-header .header-bar-2 li.nav-item:nth-child(2) .top-menu-link:hover,
.lh .lh-header .header-bar-2 li.nav-item:nth-child(2) .top-menu-link.active {
  color: #8f3f97 !important;
}
.lh .lh-header .header-bar-2 li.nav-item:nth-child(3) .top-menu-link:hover,
.lh .lh-header .header-bar-2 li.nav-item:nth-child(3) .top-menu-link.active {
  color: #f48368 !important;
}
.lh .lh-header .header-bar-2 li.nav-item:nth-child(3) .top-menu-link img {
  display: none;
}
.lh .lh-header .header-tel {
  color: #39a3ce !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.lh .lh-header .header-lang {
  color: #39a3ce !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
.lh .lh-header .arrow-down {
  position: relative;
  top: -2px;
  height: 12px;
  width: 12px;
}
.lh .lh-header #ulTopRightNav li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.lh .lh-header #ulTopRightNav li a {
  padding: 0;
}
.lh .lh-header #ulTopRightNav li img {
  max-width: 18px;
  max-height: 18px;
  margin-left: 0 !important;
}
.lh .lh-header #ulTopRightNav li button {
  max-width: 108px;
  width: 100%;
}
.lh .lh-header #ulTopRightNav li:last-child {
  margin-right: 0rem;
}
.lh .lh-header #divTopRightNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 8px;
}
.lh .lh-header #divTopRightNav .i-location {
  padding-right: 16px;
}
.lh .lh-header #divTopRightNav .i-location img {
  width: auto;
  height: 24px;
}
.lh .lh-header #divTopRightNav .i-location .i-icon {
  display: block;
}
.lh .lh-header #divTopRightNav .i-location .i-icon-active {
  display: none;
}
.lh .lh-header #divTopRightNav .i-location:hover .i-icon {
  display: none;
}
.lh .lh-header #divTopRightNav .i-location:hover .i-icon-active {
  display: block;
}
.lh .lh-header #divTopRightNav .i-search {
  padding-right: 16px;
}
.lh .lh-header #divTopRightNav .i-search img {
  width: auto;
  height: 24px;
}
.lh .lh-header #divTopRightNav .i-search .i-icon {
  display: block;
}
.lh .lh-header #divTopRightNav .i-search .i-icon-active {
  display: none;
}
.lh .lh-header #divTopRightNav .i-search:hover .i-icon {
  display: none;
}
.lh .lh-header #divTopRightNav .i-search:hover .i-icon-active {
  display: block;
}
.lh .lh-header #divTopRightNav .dropdown .btn {
  height: 36px;
  width: auto;
  min-width: 118px;
  font-size: 14px;
}
.lh .lh-subheadermenu {
  background-image: linear-gradient(to bottom, #f5f9fa, #cce6f2 100%);
  height: auto;
}
.lh .lh-subheadermenu .lhb-sheadermenu {
  height: 0px;
  overflow: hidden;
  position: relative;
  background-image: url('../img/subheader_bg.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  transition: 0.4s ease height;
}
.lh .lh-subheadermenu .lhb-sheadermenu .container {
  /*max-width: 742px;*/
  padding-left: 161px;
}
.lh .lh-subheadermenu .lhb-sheadermenu.active {
  height: 446px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 {
  transition: 0.25s ease all;
  overflow: auto;
  max-height: 425px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  padding: 8px 0px;
  cursor: pointer;
  position: relative;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link:after {
  content: ' ';
  padding: 8px;
  background-image: url('../img/arrow/arrow-right-blue.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin-left: 10px;
  opacity: 0;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link:hover,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link:hover,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link:hover,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link.active,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link.active,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link.active {
  font-family: LHBankHeaderBold;
  color: #333333;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link:hover:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link:hover:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link:hover:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link.active:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link.active:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link.active:after {
  opacity: 1;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link-text,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-text,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text {
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 0px;
  cursor: pointer;
  position: relative;
  font-family: LHBankHeaderBold;
  color: #39a3ce;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link-text:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-text:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text:after {
  content: ' ';
  padding: 8px;
  background-image: url('../img/arrow/arrow-right-blue.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin-left: 10px;
  opacity: 1;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link-big,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-big,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-big {
  color: #39a3ce !important;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link-big:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-big:after,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-big:after {
  content: ' ';
  padding: 8px;
  background-image: url('../img/arrow/arrow-right-blue.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin-left: 10px;
  opacity: 1 !important;
  display: inline-block !important;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .menu-group,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .menu-group,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .menu-group {
  margin-bottom: 30px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-text,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .menu-group,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .menu-group {
  display: none;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link.show,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link.show,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-text.show,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text.show,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .menu-group.show,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .menu-group.show {
  display: block;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 {
  border-right: 1px solid #b2b2b2;
  margin-top: 20px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link {
  font-size: 18px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link:hover,
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link.active {
  color: #39a3ce;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g2 .lhb-link-text {
  font-size: 18px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 {
  border-right: 1px solid #b2b2b2;
  margin-top: 20px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link:after {
  display: none;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link.group {
  cursor: default;
  color: #39a3ce;
  font-family: LHBankHeaderBold;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g3 .lhb-link-text {
  font-size: 18px;
  cursor: default;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 {
  margin-top: 20px;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link:after {
  display: none;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link.group {
  cursor: default;
  color: #39a3ce;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text {
  cursor: default;
}
.lh .lh-subheadermenu .lhb-sheadermenu .lhb-shm-g4 .lhb-link-text:after {
  display: none;
}
.lh .lh-sheadermenu-list {
  display: none;
}
.lh .lh-root h1 {
  font-family: LHBankHeaderBold;
  font-size: 22px;
  color: #333333;
}
.lh .lh-root h2 {
  font-family: LHBankHeaderBold;
  font-size: 18px;
  color: #333333;
}
.lh .lh-root h3 {
  font-family: LHBankHeaderBold;
  font-size: 14px;
  color: #333333;
}
.lh .lh-root h4 {
  font-family: LHBankHeaderBold;
  font-size: 12px;
  color: #333333;
}
.lh .lh-root p {
  font-family: LHBankHeader;
  font-size: 14px;
  color: #666666;
}
.lh .lh-root p span a {
  color: #39a3ce;
}
.lh .lh-root .text-blue1 {
  font-family: LHBankHeader;
  font-size: 14px;
  color: #39a3ce;
}
.lh .lh-root .border-title {
  content: '';
  width: 40px;
  margin-top: -20px;
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ced629, #26bcbc, #8b3f92, #ed8068, #f5bf0e);
}
.lh .lh-footer {
  font-family: LHBankHeader;
}
.lh .lh-footer h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-family: LHBankHeaderBold;
  font-size: 14px;
}
.lh .lh-footer .inner-footer {
  min-height: 272px;
  background: #3d8b97;
  background: linear-gradient(180deg, #3d8b97 0%, #0b4856 100%);
}
.lh .lh-footer .container {
  padding-top: 27px;
  padding-bottom: 27px;
}
.lh .lh-footer ul {
  padding-left: 0px;
}
.lh .lh-footer ul li {
  list-style: none;
  margin-bottom: 4px;
}
.lh .lh-footer ul li a {
  color: #E9F2F4;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
}
.lh .lh-footer ul .bottom-link.tel {
  padding-bottom: 0.5rem;
}
.lh .lh-footer ul .bottom-link.tel img {
  width: 18px;
  height: 18px;
}
.lh .lh-footer ul .bottom-link.tel a {
  position: relative;
  top: 4px;
  padding-left: 0.5rem;
  font-size: 22px;
}
.lh .lh-footer ul .bottom-link.mail img {
  width: 10px;
  height: 10px;
}
.lh .lh-footer ul .bottom-link.mail a {
  font-size: 14px;
}
.lh .lh-footer .i-social {
  padding-right: 20px;
}
.lh .lh-footer ul li.header {
  color: #ffffff;
  margin-bottom: 5px;
  font-family: LHBankHeaderBold;
}
.lh .lh-footer ul li .bottom-footer {
  background-color: #f7f7f7;
  height: 32px;
  width: 100%;
}
.lh .lh-footer #divCopyRight {
  margin-top: 4rem !important;
}
.lh .lh-footer .copy-right {
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #fff;
  border-left: unset;
  border-right: unset;
  margin: auto;
  object-fit: contain;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 690px;
  width: 100%;
}
.lh .bottom-footer {
  background-color: #f1f3f5;
  font-family: LHBankHeader;
  color: #666666;
  font-size: 14px;
}
.lh .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.lh .bottom-footer .container ul {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}
.lh .bottom-footer .container ul li {
  margin-right: 24px;
}
.lh .bottom-footer .container a {
  font-family: LHBankHeader;
  color: #666666;
  font-size: 14px;
}
.lh .hamburger {
  padding-bottom: 0px;
  padding-left: 0px;
}
.lh .hamburger .hamburger-box {
  width: 22px;
  height: 22px;
  position: relative;
  top: -2px;
}
.lh .hamburger .hamburger-box .hamburger-inner {
  width: 22px;
  height: 3px;
  background-color: #333333 !important;
}
.lh .hamburger .hamburger-box .hamburger-inner:before {
  width: 22px;
  height: 3px;
  background-color: #333333 !important;
}
.lh .hamburger .hamburger-box .hamburger-inner:after {
  width: 22px;
  height: 3px;
  background-color: #333333 !important;
}
.lh .modal-menu {
  display: none;
}
.lh .lhb-banners {
  height: 416px;
  max-height: 416px;
  overflow: hidden;
  position: relative;
}
.lh .lhb-banners .owl-item {
  display: inline-flex;
}
.lh .lhb-banners .banner-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.lh .lhb-banners .banner-item-container {
  /*max-width: 992px;*/
  max-width: 842px;
  margin: auto;
  padding: 15px 15px;
  height: 100%;
  padding-top: 7rem;
}
.lh .lhb-banners .banner-item-container .banner-header {
  font-family: LHBankHeader;
  font-size: 16px;
  color: #333333;
}
.lh .lhb-banners .banner-item-container .banner-title {
  font-size: 42px;
  font-family: LHBankHeader;
  color: #333333;
}
.lh .lhb-banners .banner-item-container .banner-description {
  font-family: LHBankHeader;
  font-size: 16px;
  color: #333333;
}
.lh .lhb-banners .banner-item-container .btn {
  margin-top: 27px;
  height: 36px;
  width: 118px;
  font-size: 14px;
}
.lh .lhb-banners .banner-item-container .btn .icon {
  padding-left: 3px;
  width: auto;
  height: 15px;
}
.lh .lhb-banners .item-banner {
  width: 100%;
  height: 416px;
  display: block;
}
.lh .lhb-banners .owl-dots {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: transparent !important;
}
.lh .lhb-banners .owl-dots .owl-dot {
  border: 0 solid transparent;
  margin-right: 3px;
  margin-left: 3px;
  height: 18px;
  width: 10px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  background-color: #fff;
}
.lh .lhb-banners .owl-dots .owl-dot span {
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
}
.lh .lhb-banners .owl-dots .owl-dot.active {
  height: 34px;
  opacity: 1;
}
.lh .lhb-banners .owl-nav .owl-prev,
.lh .lhb-banners .owl-nav .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0;
  height: 100%;
  background-color: transparent;
}
.lh .lhb-banners .owl-nav .owl-prev {
  /*left: 275px;*/
  left: 1rem;
}
.lh .lhb-banners .owl-nav .owl-prev span {
  background: url(../img/arrow/icon-prev.png) no-repeat;
  padding: 20px;
}
.lh .lhb-banners .owl-nav .owl-prev:hover span {
  background: url(../img/arrow/icon-prev-active.png) no-repeat;
}
.lh .lhb-banners .owl-nav .owl-next {
  /*right: 240px;*/
  right: 1rem;
}
.lh .lhb-banners .owl-nav .owl-next span {
  background: url(../img/arrow/icon-next.png) no-repeat;
  padding: 20px;
}
.lh .lhb-banners .owl-nav .owl-next:hover span {
  background: url(../img/arrow/icon-next-active.png) no-repeat;
}
.lh .lhb-card-lists {
  max-width: 900px;
  margin: auto;
  position: relative;
}
.lh .lhb-card-lists .owl-dots {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: transparent !important;
}
.lh .lhb-card-lists .owl-dots .owl-dot {
  border: 0 solid transparent;
  margin-right: 6px;
  margin-left: 6px;
  height: 8px;
  width: 8px;
  padding: 4px;
  transition: opacity 0.6s ease;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #afafaf;
}
.lh .lhb-card-lists .owl-dots .owl-dot span {
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
}
.lh .lhb-card-lists .owl-dots .owl-dot.active {
  background-color: #39a3ce;
  border: 1px solid transparent;
}
.lh .lhb-card-lists .owl-nav .owl-prev,
.lh .lhb-card-lists .owl-nav .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0;
  height: 100%;
  background-color: transparent;
}
.lh .lhb-card-lists .owl-nav .owl-prev {
  left: -70px;
}
.lh .lhb-card-lists .owl-nav .owl-prev span {
  background: url(../img/arrow/icon-prev.png) no-repeat;
  padding: 36px;
}
.lh .lhb-card-lists .owl-nav .owl-prev:hover span {
  background: url(../img/arrow/icon-prev-active.png) no-repeat;
}
.lh .lhb-card-lists .owl-nav .owl-next {
  right: -100px;
}
.lh .lhb-card-lists .owl-nav .owl-next span {
  background: url(../img/arrow/icon-next.png) no-repeat;
  padding: 36px;
}
.lh .lhb-card-lists .owl-nav .owl-next:hover span {
  background: url(../img/arrow/icon-next-active.png) no-repeat;
}
.lh .lhb-card {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  padding: 2px 2px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  height: auto;
}
.lh .lhb-card:hover {
  background: linear-gradient(to right, #c3cf20, #25afad, #772980, #e56a55, #f0b210);
}
.lh .lhb-card .card-container {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .lhb-card.lhb-card-menu {
  height: 70px;
  margin-bottom: 12px;
}
.lh .lhb-card.lhb-card-menu .card-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .lhb-card.lhb-card-menu .card-container .card-img {
  width: 54px;
  height: 54px;
}
.lh .lhb-card.lhb-card-menu .card-container .card-img img {
  width: 100%;
  height: auto;
}
.lh .lhb-card.lhb-card-menu .card-container .card-info {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
.lh .lhb-card.lhb-card-menu .card-container .card-info .card-title {
  margin: 0px;
  font-size: 18px;
  font-family: LHBankHeaderBold;
  color: #444444;
}
.lh .lhb-card.lhb-card-menu .card-container .card-info .card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #666666;
}
.lh .lhb-cards {
  width: 100%;
  overflow: hidden;
  padding-bottom: 55px;
}
.lh .lhb-cards .owl-stage {
  display: flex;
}
.lh .lhb-cards .owl-item {
  display: inline-block;
}
.lh .lhb-cards .item {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  padding: 2px 2px;
  cursor: pointer;
}
.lh .lhb-cards .item:hover {
  background: linear-gradient(to right, #c3cf20, #25afad, #772980, #e56a55, #f0b210);
}
.lh .lhb-cards .item .item-container {
  background-color: #ffffff;
  height: 332px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .lhb-cards .item .card-img {
  width: 100%;
}
.lh .lhb-cards .item .card-img img {
  width: 100%;
  height: 166px;
  max-height: 100%;
}
.lh .lhb-cards .item .card-title {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 16px;
  color: #444444;
  font-size: 18px;
  font-family: LHBankHeaderBold;
  max-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lh .lhb-cards .item .card-description {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 16px;
  color: #666666;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lh .lhb-cards .item .card-more {
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 1rem;
  font-size: 16px;
  font-family: LHBankHeaderBold;
  color: #44B9E8;
  text-decoration: none;
}
.lh .lhb-cards .item .card-more img {
  padding-left: 3px;
}
.i-gtop {
  padding: 26px;
    width: 46px;
    height: 46px;
    content: ' ';
    position: fixed;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
    background-image: url(../img/arrow/arrow-top.png);
    background-repeat: no-repeat;
}
.i-gtop:hover {
  background-image: url('../img/arrow/arrow-top-blur.png');
}
@media only screen and (min-width: 1500px) {
  .lh .lhb-banners .owl-nav .owl-prev {
    left: 1rem;
  }
  .lh .lhb-banners .owl-nav .owl-next {
    right: 1rem;
  }
}
@media only screen and (max-width: 1023.98px) {
  .lh .lhb-banners {
    height: 306px;
    max-height: 306px;
  }
  .lh .lhb-banners .item-banner {
    height: 306px;
  }
}
@media only screen and (max-width: 767.98px) {
  .lh .lh-header .aLogo img {
    max-width: 100px;
    max-height: none;
    height: auto;
  }
  .lh .lh-header .header-bar-2 {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d7d7d7;
  }
  .lh .lh-footer .inner-footer > .container {
    padding-top: 12px;
  }
  .lh .lh-footer #divBMU_M {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff;
  }
  .lh .lh-footer #divBMU_M .col-6:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }
  .lh .lh-footer #divBMU_M .col-6:nth-child(2) img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -6px;
  }
  .lh .lh-footer #divBMU_M .col-6:nth-child(2) a {
    color: #ffffff;
    font-size: 22px;
    font-family: LHBankHeader;
    padding-left: 8px;
  }
  .lh .lh-footer #divBMU div.col-12 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff;
    position: relative;
  }
  .lh .lh-footer #divBMU div.col-12 h4 {
    font-size: 14px;
    font-family: LHBankHeader;
    cursor: pointer;
  }
  .lh .lh-footer #divBMU div.col-12 ul {
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    transition: 0.4s ease max-height;
  }
  .lh .lh-footer #divBMU div.col-12 ul a {
    font-size: 12px;
  }
  .lh .lh-footer #divBMU div.col-12 ul .bottom-link.tel {
    display: none;
  }
  .lh .lh-footer #divBMU div.col-12 ul .bottom-link.mail {
    display: none;
  }
  .lh .lh-footer #divBMU div.col-12 .footer-social {
    display: none !important;
  }
  .lh .lh-footer #divBMU div.col-12:after {
    content: ' ';
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    /* background-image: url('/LH/media/icon/icon-lang-arrow@2x.png'); */
    position: absolute;
    right: 1rem;
    top: 20px;
    margin: auto;
    cursor: pointer;
    pointer-events: none;
    transition: 0.1s ease all;
  }
  .lh .lh-footer #divBMU div.col-12.active ul {
    max-height: 800px;
    margin-bottom: 8px;
  }
  .lh .lh-footer #divBMU div.col-12.active:after {
    transform: rotateZ(180deg);
  }
  .lh .lh-footer #divBMU .bottom-mail-mb {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .lh .lh-footer #divBMU .bottom-mail-mb a {
    color: #ffffff;
  }
  .lh .lh-footer #divBMU .bottom-social-mb {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .lh .bottom-footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .lh .bottom-footer .container .o1 {
    order: 2;
    flex: 0 0 100%;
    text-align: center;
  }
  .lh .bottom-footer .container .o2 {
    order: 1;
    flex: 0 0 100%;
  }
  .lh .bottom-footer .container .o2 ul {
    justify-content: center;
  }
  .lh #divCopyRight {
    display: none;
  }
  .lh .modal-menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 0px;
    overflow: auto;
    transition: 0.25s ease all;
  }
  .lh .modal-menu .menu-item {
    width: 100%;
    display: block;
    padding: 10px 0px;
    padding-bottom: 0px;
    border: 1px solid #f1f6f7;
    font-family: LHBankHeaderBold;
    color: #44B9E8;
    font-size: 18px;
    cursor: pointer;
    position: relative;
  }
  .lh .modal-menu .menu-item label {
    margin-bottom: 0;
    cursor: pointer;
    padding: 0 15px;
    padding-bottom: 15px;
  }
  .lh .modal-menu .menu-item:after {
    content: ' ';
    width: 16px;
    height: 16px;
    background-size: 15px 9px;
    /* background-image: url('/LH/media/icon/ComponentGuide/v@2x.png'); */
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    top: 20px;
    margin: auto;
    cursor: pointer;
    pointer-events: none;
    transition: 0.1s ease all;
  }
  .lh .modal-menu .menu-item.active:after {
    /* background-image: url('/LH/media/icon/ComponentGuide/v_7@2x.png'); */
    background-size: 12px 12px;
  }
  .lh .modal-menu .menu-item .submenu {
    background: #f1f6f7;
    display: none;
  }
  .lh .modal-menu .menu-item .submenu .submenu-item {
    width: 100%;
    display: block;
    font-family: LHBankHeader;
    color: #333333;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    position: relative;
  }
  .lh .modal-menu .menu-item .submenu .submenu-item label {
    padding-bottom: 0px;
  }
  .lh .modal-menu .menu-item .submenu .submenu-item:after {
    content: ' ';
    width: 16px;
    height: 16px;
    background-size: 15px 9px;
    background-image: url('/LH/media/icon/ComponentGuide/v@2x.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    top: 20px;
    margin: auto;
    cursor: pointer;
    pointer-events: none;
    transition: 0.1s ease all;
  }
  .lh .modal-menu .menu-item:last-child {
    display: none;
  }
  .lh .modal-menu .menu-item-last {
    display: flex;
    justify-content: space-between;
  }
  .lh .modal-menu .menu-item-last .o1 a {
    font-family: LHBankHeaderBold;
    color: #44B9E8;
    font-size: 22px;
  }
  .lh .modal-menu .menu-item-last .o1 img {
    height: 30px;
    width: auto;
  }
  .lh .modal-menu .menu-item-last .o2 .arrow-down {
    height: 9px;
    width: 15px;
  }
  .lh .lhb-banners {
    height: 306px;
    max-height: 306px;
  }
  .lh .lhb-banners .item-banner {
    height: 306px;
  }
  .lh .lhb-banners .item-banner .banner-item-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}