﻿/* General Color */
/* Text Color */
/* BG Color */
/* Top Color */
/* BG Gradiant */
.lh .nlayout .card-item {
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.lh .nlayout .card-item .card-item-info-1 {
  background: #fff;
  border-radius: 15px;
  height: 210px;
  overflow: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .nlayout .card-item .card-item-info-1 .card-title {
  font-family: LHBankHeaderBold;
  font-size: 22px;
  color: #8b3f92;
}
.lh .nlayout .card-item .card-item-info-1 .card-img {
  height: 210px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.lh .nlayout .card-item .card-item-info-1 #divText-1 {
  order: 1;
}
.lh .nlayout .card-item .card-item-info-1 #divVideo-1 {
  order: 2;
}
.lh .nlayout .card-item .card-item-info-1 iframe {
  width: 100%;
  height: 210px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lh .nlayout .card-item .card-item-info-2 {
  height: 290px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .nlayout .card-item .card-item-info-2 iframe {
  height: 290px;
  width: 100%;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lh .nlayout .card-item .card-item-info-3 {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .nlayout .card-item .card-item-info-3 .card-title {
  color: #f08d1d;
}
.lh .nlayout .card-item .card-item-info-3 .card-img {
  width: 100%;
  height: 310px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lh .nlayout .card-item .card-item-info-3 .card-body {
  height: 210px;
}
.lh .nlayout .card-item .card-item-info-3 iframe {
  width: 100%;
  height: 310px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lh .nlayout .card-item .card-title {
  font-size: 22px;
}
.lh .nlayout .card-item .card-sub-title {
  font-size: 18px;
}
.lh .nlayout .card-item .card-detail {
  font-size: 16px;
}
.lh .nlayout .card-item .card-iframe {
  display: none;
}
.lh .nlayout .card-item .card-link {
  cursor: pointer;
  text-decoration: none;
}
.lh .nlayout .card-item .playicon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  cursor: pointer;
}
.lh .nlayout .card-item .cursor-p {
  cursor: pointer;
}
.lh .nlayout .fullframe .cover {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 290px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.lh .nlayout .fullframe .cover .card-title,
.lh .nlayout .fullframe .cover .card-sub-title,
.lh .nlayout .fullframe .cover .card-detail {
  position: absolute;
  color: #ffffff;
  left: 24px;
}
.lh .nlayout .fullframe .cover .card-title {
  font-size: 22px;
  top: 20px;
}
.lh .nlayout .fullframe .cover .card-sub-title {
  font-size: 18px;
  bottom: 50px;
}
.lh .nlayout .fullframe .cover .card-detail {
  font-size: 16px;
  bottom: 22px;
}
.lh .nlayout .fullframe .cover .card-img {
  height: 100%;
  width: 100%;
}
.lh .nlayout .fullframe .card-item-info-2 {
  display: none;
  border-radius: 15px;
  overflow: hidden;
}
.lh .nlayout .fullframe .card-item-info-2 iframe {
  box-sizing: content-box;
  position: relative;
  left: -1px;
}
.lh .nlayout div[id$="divNLayoutType3"] .nlayout-card .card-item-info-1 {
  height: 252px;
}
.lh .nlayout div[id$="divNLayoutType3"] .nlayout-card .card-img {
  height: 252px;
  width: 100%;
}
.lh .nlayout div[id$="divNLayoutType3"] .nlayout-card .card-item-info-3 .card-img {
  height: 314px;
  max-height: 100%;
}
@media (max-width: 767px) {
  .lh .nlayout .card-item {
    /*&:hover {
                    background: 0;
                }*/
  }
  .lh .nlayout .card-item .card-item-info-1 {
    height: auto;
    max-width: 353px;
    margin: 0 auto;
  }
  .lh .nlayout .card-item .card-item-info-1 > div:nth-child(1) {
    order: 1;
  }
  .lh .nlayout .card-item .card-item-info-1 > div:nth-child(2) {
    order: 0;
  }
  .lh .nlayout .card-item .card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 180px;
  }
  .lh .nlayout .card-item .card-title {
    margin-bottom: 8px;
  }
  .lh .nlayout .card-item .link {
    left: 0px;
    bottom: 10px;
    font-size: 20px;
    padding-left: 10px;
  }
  .lh .nlayout .nlayout-card {
    height: auto;
    max-width: 353px;
    margin: 0 auto;
  }
  .lh .nlayout .center-mb {
    justify-content: center;
    display: flex;
    margin-bottom: 0.5rem;
  }
}