﻿
div.section-product {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

	div.section-product:nth-child(even) {
		background: #f9f9f9;
	}

	div.section-product:nth-child(odd) {
		background-color: #f1f3f5;
	}
.section-1-product .menudeposit .img-mobile {
	display:none;
}

.section-1-product .life-stage-product .menudeposit .visual-img img {
	height: 46px;
	width: 54px;
}

@media (max-width: 767.98px) {

	.section-1-product .menudeposit .img-desktop {
		display: none;
	}
	.section-1-product .menudeposit .img-mobile {
		display: initial;
	}

	.section-1-product .menudeposit.TopHeader {
		border-radius: 15px 15px 0px 0px;
	}
	.section-1-product .life-stage-product li:hover .text {
		color: #3ba4cd;
	}
	
	.section-1-product .menudeposit:hover {
		background-color: #d7e1e3;
		color: #3ba4cd;
	}

	.section-1-product .menudeposit.EndHeader {
		border-radius: 0px 0px 15px 15px;
		
	} 

	.lh .lh-root .section-1-product .container {
		padding: 40px 15px;
	}

	.section-1-product .container .col-sm-12 {
		/*margin-top: -15px;*/
		/*padding-top: 10px;*/
	}

	.section-1-product #siteSearch,
	.section-1-product .special-link {
		display: none;
	}

	.section-1-product .history {
		right: 15.6px;
	}

	.section-1-product .life-stage-product {
		background: linear-gradient(180deg, #fff 13%, #f0f0f0 63%, #eee 84%, #e7e7e7 92%, #dbdbdb 97%, #cacaca 102%, #b5b5b5 105%, #b1b1b1 106%);
		height: auto;
		border-radius: 15px;
		/*margin-top: -45px;*/
	}

	.section-1-product .life-stage-product ul {
		list-style-type: none;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;
		width: 100%;
		margin: 0 auto;
		display:contents;
	}

	.section-1-product .life-stage-product li {
		display: list-item;
		padding: 9px 31px;
		margin: 0;
		width: auto;
		text-align: left;
		border-top: 1px solid #d7d7d7;
	}

	.section-1-product .life-stage-product li:first-child {
		border-top: unset;
	}

	.section-1-product .life-stage-product li .text {
		display: table-cell;
		text-align: left;
		font-family: LHBankHeader-Regular;
		font-size: 18px;
		line-height: 22px;
		color: #444444;
		padding: 4px 30px 0px 30px;
	}

	.section-1-product .life-stage-product li .hr {
		display: none;
	}

	.section-1-product .life-stage-product li .visual-img {
		height: 100%;
		display: table-cell;
		width: 34px;
	}

	.section-1-product .life-stage-product .menudeposit .visual-img img {
		height: 34px;
		width: 38px;
	}

	.section-1-product .life-stage-product li a {
		display: table;
		min-width: 100%;
		text-align: left;
	}
}

	.section-1-product{
		background: white;
	}

	.section-1-product .history {
		margin-top: 20px;
		text-align: right;
		font-family: LHBankHeaderBold !important;
		font-size: 16px !important;
		color: #39a3ce !important;
	}

	.section-1-product .site-search {
		width: 305px;
		height: 46px;
		border: none;
		border-bottom: 1px solid #989898;
		font-family: LHBankHeaderThin;
		font-size: 38px;
		background: #f9f9f9;
	}

	.section-1-product .special-link {
		padding: 25px;
	}

	.section-1-product .special-link,
	.section-1-product a {
		font-family: LHBankHeader;
		font-size: 16px;
		color: #39a3ce !important;
		text-align: center;
		text-decoration: underline;
	}

	.section-1-product #siteSearch {
		margin-top: 39px;
		display: flex;
		align-items: center;
	}

	.section-1-product #txtSiteSearch {
		margin-right: 14px;
	}

		.section-1-product #txtSiteSearch:focus {
			outline: none;
		}

		.section-1-product #txtSiteSearch:focus {
			outline: none;
		}

		.section-1-product #txtSiteSearch + a img {
			position: relative;
		}

	.section-1-product #siteSearch img {
		height: 28px;
		width: 29px;
	}

.life-stage-product {
	font-family: LHBankHeader;
	font-size: 16px;
	border-radius: 15px;
	cursor: pointer;	
}

	.life-stage-product ol,
	.life-stage-product ul {
		list-style: none;
	}

	.life-stage-product a {
		text-decoration: none;
		color: #444444 !important;
	}

	.life-stage-product ul {
		text-align: center;
		display: table;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}

	.life-stage-product li {
		padding-bottom: 33px;
		padding-top: 26px;
		display: inline-block;
		vertical-align: top;
	}

		.life-stage-product li .visual-img {
			position: relative;
			display: inline-block;
		}

		.life-stage-product li .text {
			display: block;
			word-wrap: break-word;
		}

		.life-stage-product li .hr {
			width: 1px;
			height: 46px;
			background-color: #b2b2b2;
			position: absolute;
			top: 74px;
		}

	.life-stage-product .text {
		padding : 11px 30px 0px 30px;
	}

	.life-stage-product .border-life-stage-product {
		border-right: solid #aaaaaa 1px;
		height: 48px;
		margin-top: 8%;
	}

	.life-stage-product .menudeposit:hover a {
		font-family: LHBankHeaderBold;
		color: #39a3ce !important;
	}


.section-3.setcolorgray {
	background: #eff0f2;
	padding-top: 20px;
}

/*card แบบเงินฝาก*/

.lh .products-cards .item {
	width: 281px;
	height: 343px;
	overflow: hidden;
	border-radius: 15px;
	cursor: pointer;
	padding:1px;
}


	.lh .products-cards .item:hover {
		background: linear-gradient(to right, #c3cf20 3%, #25afad 25%, #772980 50%, #e56a55 75%, #f0b210 95%);
	}
		.lh .products-cards .item:hover .card-img img {
			transform: scale(1.1);
		}

	.lh .products-cards .item .item-container {
		background-color: #ffffff;
		margin:2px 2px;
		height: 338px;
		width:276px;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	}
	.lh .products-cards .item .card-img {
		width: 100%;
	}
		.lh .products-cards .item .card-img img {
			width: 100%;
			height: 204px;
			max-height: 100%;
			transition: .5s ease transform;
		}
	.lh .products-cards .item .card-title {
		padding-left: 17px;
		padding-right: 17px;
		margin-top: 10px;
		margin-bottom: 4.7px;
		color: #444444;
		font-size: 18px;
		font-family: LHBankHeaderBold;
		max-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display:flex;
	}
	.lh .products-cards .item .card-description {
		padding-left: 17px;
		padding-right: 17px;
		margin-top: 4px;
		font-size: 16px;
		color: #666666;
		max-height: 48px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre-wrap;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		/*display: flex;*/
	}
	.lh .products-cards .item .card-more {
		padding-left: 17px;
		padding-right: 17px;
		position: absolute;
		bottom: 1rem;
		font-size: 16px;
		font-family: LHBankHeaderBold;
		color: #39a3ce;
		text-decoration: none;
	}
		.lh .products-cards .item .card-more img {
			padding-left:7px;
		}

div.menu-group-deposit
{
	display:none;
}

.lh .lh-root .section-product.active {
	display: grid;
}

.lh .lh-root .section-product {
	display: grid;
}

.lh .section-product .products-cards .center-mb {
	padding-bottom: 32px;
}

@media (min-width: 768px) {
	.lh .products-cards .col-md-4 {
		padding-bottom: 32px;
	}

		
}
@media (max-width: 768px) {

	div.section-product:nth-child(even) {
		background: #f9f9f9;
	}

	div.section-product:nth-child(odd) {
		background-color: #f9f9f9;
	}

	.lh .section-product .products-cards .center-mb {
		padding-bottom: 40px;
	}

	.lh-root .section-product .container.products-cards-item :not(.card-title , .card-description ) {
		z-index: 10;
		/*padding-top: 6px;*/
		text-align: -webkit-center;
	}

	.lh .lh-root div.menu-group-deposit {
		display: initial;
	}

	.lh .lh-root .section-product {
		display: none;
	}
	.lh .lh-root .section-product.active {
		display: grid;
	}



	.lh .products-cards .item .item-container {
		background-color: #ffffff;
		margin: 2px 2px;
		height: 445px;
		width: 330px;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	}

	.lh .products-cards .item {
		width: 335px;
		height: 450px;
		overflow: hidden;
		border-radius: 15px;
		cursor: pointer;
		padding: 1px;
	}


	.lh .products-cards .item .card-img img {
		width: 100%;
		height: 245px;
		max-height: 100%;
	}

		.lh .products-cards .item .card-title {
			text-align: start;
			padding-left: 12px;
			padding-right: 5px;
			margin-top: 12px;
			margin-bottom: 4.5px;
			color: #444444;
			font-size: 25px;
			font-family: LHBankHeaderBold;
			max-height: 40px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			/*display: flex;
		white-space:nowrap;*/
		}

		.lh .products-cards .item .card-description {
			text-align:start;
			padding-left: 12px;
			padding-right: 14px;
			margin-top: 10px;
			font-size: 18px;
			color: #666666;
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			white-space: pre-wrap;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}



		.lh .products-cards .item .card-more {
			padding-left: 12px;
			padding-right: 14px;
			position: absolute;
			bottom: 1rem;
			font-size: 20px;
			font-family: LHBankHeaderBold;
			color: #39a3ce;
			text-decoration: none;
			display: -webkit-box;
		}

		.lh .products-cards .item .card-more img {
			padding-left:12px;
			height:18px;
		}

}

@media (max-width: 330px) {

	.lh .products-cards .item {
		width: 281px;
		height: 343px;
		overflow: hidden;
		border-radius: 15px;
		cursor: pointer;
		padding: 1px;
	}


		.lh .products-cards .item:hover {
			background: linear-gradient(to right, #c3cf20 3%, #25afad 25%, #772980 50%, #e56a55 75%, #f0b210 95%);
		}

		.lh .products-cards .item .item-container {
			background-color: #ffffff;
			margin: 2px 2px;
			height: 338px;
			width: 276px;
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
		}

		.lh .products-cards .item .card-img {
			width: 100%;
		}

			.lh .products-cards .item .card-img img {
				width: 100%;
				height: 204px;
				max-height: 100%;
			}

		.lh .products-cards .item .card-title {
			padding-left: 17px;
			padding-right: 17px;
			margin-top: 10px;
			margin-bottom: 4.7px;
			color: #444444;
			font-size: 18px;
			font-family: LHBankHeaderBold;
			max-height: 52px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			/*display: flex;*/
		}

		.lh .products-cards .item .card-description {
			padding-left: 17px;
			padding-right: 17px;
			margin-top: 4px;
			font-size: 16px;
			color: #666666;
			max-height: 48px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: pre-wrap;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			/*display: flex;*/
		}

		.lh .products-cards .item .card-more {
			padding-left: 17px;
			padding-right: 17px;
			position: absolute;
			bottom: 1rem;
			font-size: 16px;
			font-family: LHBankHeaderBold;
			color: #39a3ce;
			text-decoration: none;
			display: flex;
		}

			.lh .products-cards .item .card-more img {
				padding: 4px 0px 3px 7px;
			}
}

	.lh .lh-root .section-menu-product .menu-group-deposit li .text {
		display: table-cell;
		text-align: left;
		font-family: LHBankHeader-Regular;
		font-size: 20px;
		line-height: 43px;
		color: #333333;
		padding: 5px 15px 15px 25px;
	}

	.lh .lh-root .section-menu-product .menu-group-deposit .nav-link {
		display: table-cell;
		text-align: left;
		font-family: LHBankHeader;
		font-size: 16px;
		line-height: 48px;
		color: #666666;
	}

	.lh .lh-root .section-menu-product .menu-group-deposit .nav-link.active {
			color: #3ba4cd;
		}



	.section-menu-product .navbar .navbar-toggler.collapsed span.arrow-up {
		display: none;
	}

	.section-menu-product .navbar .navbar-toggler span.arrow-up {
		display: initial;
	}

	.section-menu-product .navbar .navbar-toggler.collapsed span.arrow-down {
		display: initial;
	}

	.section-menu-product .navbar .navbar-toggler span.arrow-down {
		display: none;
	}

.section-menu-product .menu-group-deposit {
	height: 47px;
	background-color: #f0f4f7;
}
.section-menu-product .menu-group-deposit .navbar{
	height: 47px;
	background-color: #f0f4f7;
}

.section-menu-product .navbar .main-nav-product {
	border-bottom: 1px solid #d7d7d7;
}
	.section-menu-product .menu-group-deposit .navbar .navbar-brand {
			padding: 8px 0px 9px 15px;
			color: #333333;
		}

		.section-menu-product .menu-group-deposit span img {
			max-height: 12px;
			width: 14px;
		}

		.section-menu-product .menu-group-deposit button.navbar-toggler {
			padding-bottom: 10px;
			padding-right: 15px;
			border: none;
		}

		.section-menu-product .menu-group-deposit .navbar .navbar-collapse {
			background-color: #f1f6f7;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
			z-index:1000;
		}








.page-detail.section-relate-other .owl-carousel .item .card-border {
	padding: 2px;
	width: 238px;
	height: 306px;
	border-radius: 15px;
	margin: auto;
}

	.page-detail.section-relate-other .owl-carousel .item .card-border:hover {
		background: linear-gradient(to right, #c3cf20, #25afad, #772980, #e56a55, #f0b210);
	}

	.page-detail.section-relate-other .owl-carousel .item .card-border:hover img {
		transform: scale(1.1);
	}

.page-detail.section-relate-other .owl-carousel .item .card {
	width: 234px;
	height: 302px;
	margin: auto;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	border-radius: 15px;
	overflow: hidden;
	padding: 0 !important;
}

	.page-detail.section-relate-other .owl-carousel .item .card img.card-img-top {
		width: 234px;
		height: 166px;
		transition: .5s ease transform;
	}

.page-detail.section-relate-other .lhb-card-lists .owl-dots {
	position: absolute !important;
	left: 0;
	right: 0;
	bottom: -2rem;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: transparent !important;
}

.page-detail.section-relate-other .lhb-card-lists {
	max-width: 800px;
	margin: auto;
	position: relative;
}

.page-detail.section-relate-other .card-body {
	padding: 10px 14px;
}

	.page-detail.section-relate-other .card-body .card-title {
		font-size: 18px;
		font-family: "LHBankHeader";
		color: #444444;
		font-weight: 600;
		margin-bottom: 4px;
		line-height: 1.3;
	}

	.page-detail.section-relate-other .card-body .card-text {
		font-size: 16px;
		font-family: "LHBankHeader";
		color: #666666;
		font-weight: 400;
		margin-bottom: 0;
		max-height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.2;
	}

	.page-detail.section-relate-other .card-body .card-text-end {
		font-size: 16px;
		font-family: "LHBankHeader";
		color: #39a3ce;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 1.2;
		bottom: 10px;
	}

		.page-detail.section-relate-other .card-body .card-text-end a {
			font-size: 16px;
			font-family: "LHBankHeader";
			color: #39a3ce;
			text-decoration: none;
		}

	.page-detail.section-relate-other .card-body a img {
		display: initial;
		width: auto;
	}

	.page-detail.section-relate-other .card-body a.card-view-detail {
		position: absolute;
		bottom: 8px;
		color: #39a3ce;
		text-decoration: none;
		font-family: "LHBankHeaderBold";
		font-size: 16px;
	}

	.page-detail.section-relate-other .card-body a.card-share-btn {
		position: absolute;
		bottom: 8px;
		right: 10px;
		color: #39a3ce;
		text-decoration: none;
	}

.page-detail.section-relate-other .view-all {
	text-align: right;
	display: block;
	font-size: 16px;
	font-family: "LHBankHeaderBold";
	color: #39a3ce;
	text-decoration: none;
}

.page-detail.section-relate-other .view-all-mobile {
	padding-top: 4rem;
	padding-bottom: 1.5rem;
}


/*.page-detail.section-relate-other .border-title {
	content: '';
	width: 30px;
	padding-top:0px !important;
	margin-top: -15px;
	border-bottom: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #ced629 3%, #26bcbc 25%, #8b3f92 50%, #ed8068 75%, #f5bf0e 95%);
}*/
.lh .lh-root .border-title {
	content: '';
	width: 30px;
	padding-top: 0px !important;
	margin-top: -15px;
	border-bottom: 3px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #ced629 3%, #26bcbc 25%, #8b3f92 50%, #ed8068 75%, #f5bf0e 95%);
}

@media(max-width: 767px) {
	.page-detail.section-relate-other .owl-carousel .item .card-border {
		width: 333px;
		height: 448px;
	}

	.page-detail.section-relate-other .owl-carousel .item .card {
		width: 329px;
		height: 444px;
	}

		.page-detail.section-relate-other .owl-carousel .item .card img.card-img-top {
			width: 329px;
			height: 245px;
			transition: .5s ease transform;
		}

	.page-detail .lhb-card-lists .owl-nav .owl-prev {
		left: 0px;
	}

		.page-detail .lhb-card-lists .owl-nav .owl-prev span {
			padding: 33px;
			padding-top: 8px;
		}

	.page-detail .lhb-card-lists .owl-nav .owl-next {
		right: 0px;
	}

		.page-detail .lhb-card-lists .owl-nav .owl-next span {
			padding: 20px;
			padding-top: 10px;
		}

	.page-detail.section-relate-other .btn-view-more {
		font-size: 19px;
		padding-left: 20px;
		padding-right: 15px;
		padding-bottom: 3px;
		padding-top: 2px;
	}

	 title 
	.page-detail.section-relate-other .card-body .card-title {
		font-size: 26px;
	}

	.page-detail.section-relate-other .card-body .card-text {
		font-size: 18px;
	}

	.page-detail.section-relate-other .card-body a.card-share-btn {
		right: 18px;
		bottom: 12px;
	}

	.page-detail.section-relate-other .card-body a.card-view-detail {
		font-size: 18px;
		bottom: 12px;
	}

	/*.page-detail.section-relate-other .sec-title {
		font-size: 26px;
	}*/

	.sec-title {
		font-size: 26px;
	}
	/*.page-detail.section-relate-other .border-title {
		content: '';
		width: 36px;
		margin-top: -15px;
		border-bottom: 5px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to left, #ced629, #26bcbc, #8b3f92, #ed8068, #f5bf0e);
	}*/

	.lh .lh-root .border-title {
		content: '';
		width: 36px;
		margin-top: -15px;
		border-bottom: 5px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to left, #ced629, #26bcbc, #8b3f92, #ed8068, #f5bf0e);
	}

	
}


