
@font-face {
  font-family: SukhumvitSet;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont.woff);
}
@font-face {
  font-family: SukhumvitSet-Semi;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont.woff);
}
@font-face {
  font-family: Thongterm;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont.woff);
}
@font-face {
  font-family: Thongterm-Roman;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont.woff);
}

@font-face {
  font-family: Krungsri;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont.woff);
}



/* #Krungsri# */
@font-face {
  font-family: 'Krungsri';
  src: url(/vendor/Fonts/sukhumvitset-text-webfont.eot);
  src: url(/vendor/Fonts/sukhumvitset-text-webfont.eot?#iefix) format(embedded-opentype), url(/vendor/Fonts/sukhumvitset-text-webfont.woff) format(woff), url(/vendor/Fonts/sukhumvitset-text-webfont.ttf) format(truetype), url(/vendor/Fonts/sukhumvitset-text-webfont.svg#KrungsriCondensed) format(svg);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* #Thongterm-Roman# */
@font-face {
  font-family: Thongterm-Roman;
  src: url(/vendor/Fonts/thongterm_roman-webfont.eot);
  src: url(/vendor/Fonts/thongterm_roman-webfont.eot?#iefix) format(embedded-opentype), url(/vendor/Fonts/thongterm_roman-webfont.woff2) format(woff2), url(/vendor/Fonts/thongterm_roman-webfont.woff) format(woff), url(/vendor/Fonts/thongterm_roman-webfont.ttf) format(truetype), url(/vendor/Fonts/thongterm_roman-webfont.svg#thongtermroman) format(svg);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* #Thongterm# */
@font-face {
  font-family: Thongterm;
  src: url(/vendor/Fonts/thongterm_light-webfont.eot);
  src: url(/vendor/Fonts/thongterm_light-webfont.eot?#iefix) format(embedded-opentype), url(/vendor/Fonts/thongterm_light-webfont.woff2) format(woff2), url(/vendor/Fonts/thongterm_light-webfont.woff) format(woff), url(/vendor/Fonts/thongterm_light-webfont.ttf) format(truetype), url(/vendor/Fonts/thongterm_light-webfont.svg#thongtermlight) format(svg);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* #SukhumvitSet# */
@font-face {
  font-family: SukhumvitSet;
  src: url(/vendor/Fonts/sukhumvitset-text-webfont.eot);
  src: url(/vendor/Fonts/sukhumvitset-text-webfont.eot?#iefix) format(embedded-opentype), url(/vendor/Fonts/sukhumvitset-text-webfont.woff2) format(woff2), url(/vendor/Fonts/sukhumvitset-text-webfont.woff) format(woff), url(/vendor/Fonts/sukhumvitset-text-webfont.ttf) format(truetype), url(/vendor/Fonts/sukhumvitset-text-webfont.svg#SukhumvitSet) format(svg);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: SukhumvitSet-Semi;
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.eot);
  src: url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.eot?#iefix) format(embedded-opentype), url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.woff2) format(woff2), url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.woff) format(woff), url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.ttf) format(truetype), url(/vendor/Fonts/sukhumvitset-medium-webfont-webfont.svg#SukhumvitSet) format(svg);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Fonts Size */
.fz-14px-all{
    font-size: 14px;
}
.fz-16px-all{
    font-size: 16px;
}
.fz-20px-all{
    font-size: 20px;
}
.fz-30px-all{
    font-size: 30px;
}
.fz-30px-all-i{
    font-size: 30px !important;
}

.fz-40px-all{
    font-size: 40px;
}
.fz-40px-all-i{
    font-size: 40px !important;
}